*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'GOST UI Regular', sans-serif;
    
}

body {
    box-sizing: border-box;
    background-color: #F4F7FB;
}
p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
a,
a:link,
a:visited {
    text-decoration: none;
    cursor: pointer;
}
a:active,
a:focus {
    outline: none;
}
.swal2-html-container {
    font-size: 1.4rem;
}
.swal2-styled.swal2-confirm {
    font-size: 1.4rem;
}
@import '../../fonts/fonts.scss';
@import '../scss/mixins.scss';
@import '../scss/container.scss';
@import '../scss/btn.scss';
@import '../header/header.scss';
@import '../description/description.scss';
@import '../main-container/main-container.scss';
@import '../step1/step1.scss';
@import '../step2/step2.scss';
@import '../step3/step3.scss';