.description {
    display: flex;
    margin-top: 8.8rem;
    padding-top: 8rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgba(59, 66, 86, 0.3);
    @include respond(phone) {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 4rem;
    }
    &__text-block {
        max-width: 73.6rem;
        width: 100%;
        margin-right: 12.6rem;
        @include respond(phone) {
            margin-right: 4rem;
            margin: 0 auto;
        }
    }
    &__title {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 4.8rem;
        color: #3B4256;
        line-height: 5.6rem;
    }
    &__text {
        font-size: 1.8rem;
        line-height: 2.4rem;
        color: #3B4256;
        margin-top: 2.4rem;
    }
    &__service-block p {
        font-size: 1.4rem;
        color: #3B4256;
        line-height: 2rem;
    }
    &__logo {
        margin-bottom: 1.6rem;
    }
    &__logo-descr {
        font-weight: 700;
        margin-bottom: .8rem;
    }
    &__service-provider {

    }
}